.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: rgb(232, 232, 232);
}
header{
    height: 10vh;
    background-color: rgb(100, 22, 22);
    color: white;
    padding: 1vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    text-align: center;

}
#name{
    text-align: center;
    font-weight: 600;
}
#flag{
    text-align: center;
    width: 24px;
    height: 24px;
    margin-left: 3%;

}
.material-symbols-outlined{
    color: white;
}
#ham{
    text-align: center;
    margin-right: 3%;
}

/* menu */
.navbar_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease;
  }
  
  .navbar_burger {
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    color: #000;
  }
  
  .navbar_burger_back {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
    color: #fff;
  }
  
  .navbar_menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: #0e0e0e;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transform: translateX(100%);
    z-index: 999;
    color: #000;
    transition: transform 0.3s ease;
  }
  
  .navbar_menu a {
    position: relative;
    color: #ffffff;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
    text-decoration: none;
  }
  
  .navbar_menu.active {
    transform: translateX(0);
  }
  
.navbar_overlay.active {
    opacity: 1;
    pointer-events: auto;
}

/* photos */
h3{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}
.photos{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Val-photos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;

}
.Bar-photos{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
}
.Mad-photos{
    width: 100%;
    height: 40vw;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.photo-wrap{
    width: 20vw;
    max-width: 450px;
    height: 30vw;
    max-height: 600px;

    position: relative;
}
.photo-wrap img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    transition: all 0.2s ease;
}